/* This is a single-line comment */
p {
    color: red;
    box-shadow: inset 5px 6px 7px ;
    color: rebeccapurple;
    padding: 5%;
    margin: 5%;
    text-align: 
    center;
    width: 50%;
    }

